<div class="statsRow">
  <div class="wrapper">
	<div class="controlB">
  	<ul>
  	  <li><a href="<%= misc_path %>" title=""><img src="<%= asset_path 'icons/control/32/plus.png' %>" alt=""><span>Créer une commodité</span></a></li>
      <li><a href="<%= miscs_path %>" title=""><img src="<%= asset_path 'icons/control/32/order-149.png' %>" alt=""><span>Liste des commodités</span></a></li>
      </ul>
      <div class="clear"></div>
    </div>
  </div>
</div>
