<div class="statsRow">
  <div class="wrapper">
	<div class="controlB">
  	<ul>
  	  <li><a href="<%= room_type_room_type_additional_bed_path(@room_type.id) %>" title=""><img src="<%= asset_path 'icons/control/32/plus.png' %>" alt=""><span>Créer un type de lit supplémentaire</span></a></li>
      <li><a href="<%= room_type_room_type_additional_beds_path(@room_type.id) %>" title=""><img src="<%= asset_path 'icons/control/32/order-149.png' %>" alt=""><span>Liste des types de lits supplémentaires</span></a></li>
      </ul>
      <div class="clear"></div>
    </div>
  </div>
</div>
