<div class="statsRow">
  <div class="wrapper">
	<div class="controlB">
  	<ul>
  	  <li><a href="<%= room_type_room_type_variation_path(@room_type.id) %>" title=""><img src="<%= asset_path 'icons/control/32/plus.png' %>" alt=""><span>Créer une variante de type de chambre</span></a></li>
      <li><a href="<%= room_type_room_type_variations_path(@room_type.id) %>" title=""><img src="<%= asset_path 'icons/control/32/order-149.png' %>" alt=""><span>Liste des variantes de types de chambres</span></a></li>
      </ul>
      <div class="clear"></div>
    </div>
  </div>
</div>
