<!-- Slider
======================================= -->

<div class="container_full">

    <div class="slidershadow">&nbsp;</div>

    <div class="mstslider">
    <div class="master-slider ms-skin-default" id="masterslider">

    <!-- slide -->
    <div class="ms-slide slide-1" data-delay="9">

        <!-- slide background -->
        <img src="/assets/users/reservation1.jpg"  alt="Slide1 background"/>



		<h1 class="ms-layer stext1"
			style="left: 820px; top: 162px;"
			data-type="text"
			data-duration="900"
			data-delay="1800"
		 	data-ease="easeOutExpo"
		 	data-effect="bottom(40)"
		>
			Bienvenue sur ReservationsNow!<br />
			Réservez dès maintenant <em>Bénéficiez</em> d'avantages exceptionnels<br />
		</h1>

    </div>
    <!-- end of slide -->


    <!-- new slide -->
    <div class="ms-slide slide-3" data-delay="8">

        <!-- slide background -->
        <img src="/assets/users/reservation2.jpg"  alt=""/>

		 <h1 class="ms-layer stext1"
			style="left: 365px;top: 74px;"
			data-type="text"
		 	data-duration="1300"
            data-delay="0"
		 	data-ease="easeOutExpo"
		 	data-effect="rotatefront(-40,900,tr)"
		>
			Bénéficiez d'un service de qualité!
		</h1>

		<h1 class="ms-layer stext1"
			style="left: 445px;top: 126px;"
			data-type="text"
		 	data-duration="1300"
            data-delay="400"
		 	data-ease="easeOutExpo"
		 	data-effect="rotate3dright(10,50,0,50)"
		>
			<strong>Réserver n'a jamais été aussi simple!</strong>
		</h1>








	</div>
    <!-- end of slide -->

</div>
</div>

</div><!-- end slider -->


<div class="clearfix"></div>
