<div class="clearfix"></div>

<div class="page_title">
<div class="container">

    <div class="title"><h1>Contacts</h1></div>

</div>
</div><!-- end page title -->

<div class="clearfix"></div>

<div class="one_full">
	<iframe class="google-map2" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;aq=2&amp;oq=was&amp;sll=40.714353,-74.005973&amp;sspn=0.765069,1.674042&amp;ie=UTF8&amp;hq=&amp;hnear=Washington,+District+of+Columbia&amp;t=m&amp;z=11&amp;ll=38.907231,-77.036464&amp;output=embed"></iframe><br />
</div>

<div class="container">

    <div class="content_fullwidth">

      <div class="two_third">

        <div class="cforms">

        <form method="post" id="sky-form" class="sky-form">
          <header>Envoyez nous un <strong>Message!</strong></header>
          <fieldset>
            <div class="row">
              <section class="col col-6">
                <label class="label">Nom</label>
                <label class="input"> <i class="icon-append icon-user"></i>
                  <input type="text" name="name" id="name">
                </label>
              </section>
              <section class="col col-6">
                <label class="label">E-mail</label>
                <label class="input"> <i class="icon-append icon-envelope-alt"></i>
                  <input type="email" name="email" id="email">
                </label>
              </section>
            </div>
            <section>
              <label class="label">Sujet</label>
              <label class="input"> <i class="icon-append icon-tag"></i>
                <input type="text" name="subject" id="subject">
              </label>
            </section>
            <section>
              <label class="label">Message</label>
              <label class="textarea"> <i class="icon-append icon-comment"></i>
                <textarea rows="4" name="message" id="message"></textarea>
              </label>
            </section>
          </fieldset>
          <div class="message"> <i class="icon-ok"></i>
            <p>Your message was successfully sent!</p>
          </div>
        </form>

        </div>

      </div><!-- end section -->

      <div class="one_third last">

        <div class="address_info two">

          <h4>VieFacile<strong>Now</strong></h4>
          <ul>
            <li> <strong>Zone 4, Bietry, Macory</strong><br />
              Telephone: +225 54 13 65 21<br />
              Membres: <a href="mailto:help@viefacilenow.com">help@viefacilenow.com</a><br />
              Partenaires: <a href="mailto:advertise@viefacilenow.com">advertise@viefacilenow.com</a><br />
              Site web: <a href="index.html">www.viefacilenow.com</a> </li>
          </ul>

        </div><!-- end section -->

	  </div>

    </div>

  </div><!-- end content area -->

<div class="clearfix margin_top3"></div>
