<%= render "slider" %>

<div class="clearfix"></div>

<div class="feature_section11">
  <div class="container animate" data-anim-type="fadeInUp">

    <strong>Welcome</strong>
    <div class="clearfix"></div>
    <div class="contbox">
      <p style = "text-align: justify;">
        ViefacileNow is one of the businesses of TerciaCompany <b>‘TertiaCo’</b>. It is a social business community virtually suspended to effectively reach our target market of unlimited users. Our philosophy is to socially-create wealth by living a profitable life.
      </p>
      <br />
      <p style = "text-align: justify;">
        VieFacileNow is a promise of open and socially connected business community. We are first driven by a latent desire to push the limits in eCommerce with a blend of social and commerce principles in wealth creation. We are passionately driven to live life profitably irrespective of location, goods or services offering. And this philosophy is embedded in our brand drivers which are Find-Connect-Live...
      </p>
      <br />
      <p style = "text-align: justify;">
        We are passionate about what makes you enjoy quality life. On all our sections – Business Directory, Reservations and Travels, Dinning, Lodging, Fashion/Lifestyle, Gadgets, Home/Décor, Artisans Services, our firm and simple commitment is that you get nothing but the best at affordable prices. Deals starts now in all nine commercial Ivorian cities depending on the demands and supply availability. For convenience, you can pay choosing from our different payment options or pay on delivery.
      </p>
      <br /><br />
      <a class="readmore_but1 nocurve"><i class="fa fa-hand-o-right"></i> &nbsp;Live Life the easy way now!</a>
    </div>

  </div>
</div><!-- end features section 11 -->

<div class="clearfix"></div>

<%= render "search_hotel_form" %>

<div class="clearfix"></div>

<div class="parallax_sec1">
<div class="container">

	<h2 class="white">
    Notre <strong>Philosophie</strong>

    </h2>

	<div class="margin_top3"></div>

	<ul class="left">

        <li class="animate" data-anim-type="fadeInLeft">
        <i class="fa fa-tablet"></i>
        <h5>Open and Socially Connected</h5>
        <p>We are first driven by a latent desire to push the limits in eCommerce with a blend of social and commerce principles in wealth creation.</p>
        </li>

        <li class="animate" data-anim-type="fadeInLeft">
        <i class="fa fa-leaf"></i>
        <h5>Easy Life</h5>
        <p>Like our name, our promise is to make life easy and now, through a highly connected community for established businesses as well as up and coming startups.</p>
        </li>

    </ul>

    <ul class="right">

        <li class="animate" data-anim-type="fadeInRight">
        <i class="fa fa-umbrella"></i>
        <h5>Find-Connect-Live</h5>
        <p>We seek to break boundaries, reduce travel time yet provide exciting deals to both merchants and customers; believing that we serve the party who enjoys best offer at all times.</p>
        </li>

        <li class="animate" data-anim-type="fadeInRight">
        <i class="fa fa-file-text-o"></i>
        <h5>Our Belief</h5>
        <p>We believe in a market where all parties close deals independent of the ‘third-party’ interference. We approach our business always from the customer’s perspective;.</p>
        </li>

    </ul>

</div>
</div><!-- end parallax sec 1 -->



<div class="clearfix"></div>


<div class="feature_section3">
<div class="container animate" data-anim-type="fadeInUp">


    	<ul class="tabs">
            <li class="animate" data-anim-type="zoomIn"><a href="#demo-tab-1" target="_self"><i class="fa fa-desktop"></i> Web Design</a></li>
            <li class="animate" data-anim-type="zoomIn"><a href="#demo-tab-2" target="_self"><i class="fa fa-code"></i> Development</a></li>
            <li class="animate" data-anim-type="zoomIn"><a href="#demo-tab-3" target="_self"><i class="fa fa-leaf"></i> Marketing</a></li>
		</ul>

        <div class="tabs-content">

        <div id="demo-tab-1" class="tabs-panel bgimg1">

            <h4 class="caps">our work process</h4>

            <h5 class="grayc">Many web sites still in their infancy versions <br /> have evolved over the years.</h5>

            <ul class="list_1">
                <li><i class="fa fa-arrow-circle-o-right"></i> There are many variations of passages lorem Ipsum</li>
                <li><i class="fa fa-arrow-circle-o-right"></i> Available but the majority have suffered alteration some</li>
                <li><i class="fa fa-arrow-circle-o-right"></i> Form by injected humou or randomised words which don</li>
                <li><i class="fa fa-arrow-circle-o-right"></i> Look even slight believable Ipsum generate on the these</li>
                <li><i class="fa fa-arrow-circle-o-right"></i> Tend to repeat chunks as this the first true the Internet</li>
                <li><i class="fa fa-arrow-circle-o-right"></i> When an unknown printer took a galley of and type</li>
            </ul>

		</div><!-- end tab 1 -->

        <div id="demo-tab-2" class="tabs-panel bgimg2">

            <h4 class="caps">with Creative Ideas</h4>

			<h5 class="grayc">Many web sites still in their infancy versions have evolved over the years.</h5>

            	<ul class="list_1">
                    <li><i class="fa fa-arrow-circle-o-right"></i> There are many variations of passages lorem Ipsum</li>
                    <li><i class="fa fa-arrow-circle-o-right"></i> Available but the majority have suffered alteration some</li>
                    <li><i class="fa fa-arrow-circle-o-right"></i> Form by injected humou or randomised words which don</li>
                    <li><i class="fa fa-arrow-circle-o-right"></i> Look even slight believable Ipsum generate on the these</li>
                    <li><i class="fa fa-arrow-circle-o-right"></i> Tend to repeat chunks as this the first true the Internet</li>
                    <li><i class="fa fa-arrow-circle-o-right"></i> When an unknown printer took a galley of and type</li>
                </ul>

        </div><!-- end tab 2 -->

        <div id="demo-tab-3" class="tabs-panel bgimg3">

			<h4 class="caps">success your business</h4>

			<h5 class="grayc">Many web sites still in their infancy versions have evolved over the years.</h5>

            	<ul class="list_1">
                    <li><i class="fa fa-arrow-circle-o-right"></i> There are many variations of passages lorem Ipsum</li>
                    <li><i class="fa fa-arrow-circle-o-right"></i> Available but the majority have suffered alteration some</li>
                    <li><i class="fa fa-arrow-circle-o-right"></i> Form by injected humou or randomised words which don</li>
                    <li><i class="fa fa-arrow-circle-o-right"></i> Look even slight believable Ipsum generate on the these</li>
                    <li><i class="fa fa-arrow-circle-o-right"></i> Tend to repeat chunks as this the first true the Internet</li>
                    <li><i class="fa fa-arrow-circle-o-right"></i> When an unknown printer took a galley of and type</li>
                </ul>

        </div><!-- end tab 3 -->

	</div>

</div>
</div><!-- end features section3 -->

<div class="clearfix"></div>

<div class="feature_section4">
<div class="container">

	<h2>
    Why <strong>Choose Us?</strong>
    <b>Here’s the best part of our impressive services</b>
    </h2>

	<div class="margin_top3"></div>

    <div class="one_fourth animate" data-anim-type="fadeInLeft">
	<div class="cornered"></div>

        <div class="ccont">

        <i class="fa fa-umbrella"></i>

        <h5 class="caps">Neat and Clean</h5>

        <p>Many desktop publish packages web page editors now use Ipsum as their default model text.</p>

        </div>

    <div class="cornered2"></div>
	</div>

    <div class="one_fourth animate" data-anim-type="fadeInDown">
	<div class="cornered"></div>

        <div class="ccont">

        <i class="fa fa-tags"></i>

        <h5 class="caps">Tons of Features</h5>

        <p>Many desktop publish packages web page editors now use Ipsum as their default model text.</p>

        </div>

    <div class="cornered2"></div>
	</div>

    <div class="one_fourth active animate" data-anim-type="fadeInUp">
	<div class="cornered"></div>

        <div class="ccont">

        <i class="fa fa-trophy"></i>

        <h5 class="caps">Easy to use</h5>

        <p>Many desktop publish packages web page editors now use Ipsum as their default model text.</p>

        </div>

    <div class="cornered2"></div>
	</div>

    <div class="one_fourth last animate" data-anim-type="fadeInRight">
	<div class="cornered"></div>

        <div class="ccont">

        <i class="fa fa-heart"></i>

        <h5 class="caps">Very flexible</h5>

        <p>Many desktop publish packages web page editors now use Ipsum as their default model text.</p>

        </div>

    <div class="cornered2"></div>
	</div>

</div>
</div><!-- end features section4 -->

<div class="clearfix"></div>

<div class="feature_section7">
<div class="container">

	<div class="one_half">

    	<i class="fa fa-leaf animate" data-anim-type="zoomIn"></i>

        <div class="rcont animate" data-anim-type="fadeInUp">
        <h4 class="white">Fast and Light Weight</h4>
        <p>There are many variations of passages of Ipsum available but the majority
have suffered alteration in some form by injected words.</p>
		</div>

        <div class="clearfix margin_top5"></div>

        <i class="fa fa-tags animate" data-anim-type="zoomIn"></i>

        <div class="rcont animate" data-anim-type="fadeInUp">
        <h4 class="white">Awesome Slidershows</h4>
        <p>There are many variations of passages of Ipsum available but the majority
have suffered alteration in some form by injected words.</p>
		</div>

    </div>

    <div class="one_half last">

    	<i class="fa fa-tablet animate" data-anim-type="zoomIn"></i>

        <div class="rcont animate" data-anim-type="fadeInUp">
        <h4 class="white">Responsive Designied</h4>
        <p>There are many variations of passages of Ipsum available but the majority
have suffered alteration in some form by injected words.</p>
		</div>

        <div class="clearfix margin_top5"></div>

        <i class="fa fa-code animate" data-anim-type="zoomIn"></i>

        <div class="rcont animate" data-anim-type="fadeInUp">
        <h4 class="white">Well Structured Code</h4>
        <p>There are many variations of passages of Ipsum available but the majority
have suffered alteration in some form by injected words.</p>
		</div>

    </div>

</div>
</div><!-- end features section 7 -->

<div class="clearfix"></div>

<div class="feature_section8">
<div class="container">

    <div class="left animate" data-anim-type="fadeInLeft"><img src="<%= asset_path 'users/site-img8.png' %>" alt="" class="img_left" /></div>

    <div class="right animate" data-anim-type="fadeInRight">

		<h2><i><strong>Clean, Professional</strong></i> and Modern Design</h2>

        With a handful many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites of model sentence structures, to generate Lorem Ipsum which looks reasonable the generated Lorem Ipsum is therefore always. Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose.
        <br /><br /><br />

        <a href="#" class="readmore_but2">Read More Info</a> &nbsp;&nbsp;&nbsp; <a href="#" class="readmore_but3">Purchse Now!</a>

    </div>


</div>
</div><!-- end features section 8 -->

<div class="clearfix"></div>

<div class="feature_section35">
<div class="container">

	<div class="left animate" data-anim-type="fadeInUp"><img src="<%= asset_path 'users/site-img35.png' %>" alt="" /></div>

    <div class="right">

        <br />

        <h2>Core <strong>Features</strong></h2>
		<h4>Easy-to-customize and fully featured design</h4>

        <p>All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary
making this the first true generator on the Internet.</p>
        <br />
        <div class="one_half">
            <ul class="list_1">
                <li><i class="fa fa-chevron-circle-right"></i> Diffrent Website Layouts</li>
                <li><i class="fa fa-chevron-circle-right"></i> Exclusive Slideshows</li>
                <li><i class="fa fa-chevron-circle-right"></i> Multiple Header Options</li>
                <li><i class="fa fa-chevron-circle-right"></i> Fullwidth &amp; Boxed Layouts</li>
                <li><i class="fa fa-chevron-circle-right"></i> Clean Code &amp; Easy to Use</li>
            </ul>
        </div>

        <div class="one_half last">
            <ul class="list_1">
                <li><i class="fa fa-chevron-circle-right"></i> Mega Menu</li>
                <li><i class="fa fa-chevron-circle-right"></i> Layered PSD Files</li>
                <li><i class="fa fa-chevron-circle-right"></i> Well Structured Pages</li>
                <li><i class="fa fa-chevron-circle-right"></i> Mobile Friendly Theme</li>
                <li><i class="fa fa-chevron-circle-right"></i> Cross Browsere Check</li>
            </ul>
        </div>
        <div class="clearfix"></div>
    	<br /><br />
    	<a href="#" class="readmore_but1">View All Features</a>

    </div>




</div>
</div>


<div class="clearfix"></div>


<div class="divider_line1"></div>

<div class="feature_section9">
<div class="container animate" data-anim-type="fadeInUp">

	<h1>Build an <strong>Amazing Website</strong> with Hoxa</h1>

    <br />

	<div id="grid-container2" class="cbp-l-grid-fullScreen two">

        <ul>

            <li class="cbp-item">
                <a href="#" class="cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                        <div class="cibox"><i class="fa fa-desktop"></i> <h5>Corporate Style</h5></div>
                    </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignLeft">
                            <div class="cbp-l-caption-body">
                                <div class="cibox act">
                                <i class="fa fa-desktop"></i>
                                <h5>Corporate Style</h5>
                                Will cover many websites in have over the years.
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </li>

            <li class="cbp-item">
                <a href="#" class="cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                        <div class="cibox"><i class="fa fa-coffee"></i> <h5>Creative Style</h5></div>
                    </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignLeft">
                            <div class="cbp-l-caption-body">
                                <div class="cibox act">
                                <i class="fa fa-coffee"></i>
                                <h5>Creative Style</h5>
                                Will cover many websites in have over the years.
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </li>

            <li class="cbp-item">
                <a href="#" class="cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                        <div class="cibox"><i class="fa fa-umbrella"></i> <h5>One Page Theme</h5></div>
                    </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignLeft">
                            <div class="cbp-l-caption-body">
                                <div class="cibox act">
                                <i class="fa fa-umbrella"></i>
                                <h5>One Page Theme</h5>
                                Will cover many websites in have over the years.
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </li>

            <li class="cbp-item">
                <a href="#" class="cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                        <div class="cibox"><i class="fa fa-rocket"></i> <h5>Landing Page</h5></div>
                    </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignLeft">
                            <div class="cbp-l-caption-body">
                                <div class="cibox act">
                                <i class="fa fa-rocket"></i>
                                <h5>Landing Page</h5>
                                Will cover many websites in have over the years.
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </li>

            <li class="cbp-item">
                <a href="#" class="cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                        <div class="cibox"><i class="fa fa-magic"></i> <h5>Parallax Effects</h5></div>
                    </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignLeft">
                            <div class="cbp-l-caption-body">
                                <div class="cibox act">
                                <i class="fa fa-magic"></i>
                                <h5>Parallax Effects</h5>
                                Will cover many websites in have over the years.
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </li>

            <li class="cbp-item">
                <a href="#" class="cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                        <div class="cibox"><i class="fa fa-cog"></i> <h5>Diffrent Websites</h5></div>
                    </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignLeft">
                            <div class="cbp-l-caption-body">
                                <div class="cibox act">
                                <i class="fa fa-cog"></i>
                                <h5>Diffrent Websites</h5>
                                Will cover many websites in have over the years.
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </li>

            <li class="cbp-item">
                <a href="#" class="cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                        <div class="cibox"><i class="fa fa-heart"></i> <h5>Mega Menu</h5></div>
                    </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignLeft">
                            <div class="cbp-l-caption-body">
                                <div class="cibox act">
                                <i class="fa fa-heart"></i>
                                <h5>Mega Menu</h5>
                                Will cover many websites in have over the years.
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </li>

            <li class="cbp-item">
                <a href="#" class="cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                        <div class="cibox"><i class="fa fa-star"></i> <h5>100+ Feature Sections</h5></div>
                    </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignLeft">
                            <div class="cbp-l-caption-body">
                                <div class="cibox act">
                                <i class="fa fa-star"></i>
                                <h5>100+ Feature Sections</h5>
                                Will cover many websites in have over the years.
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </li>

            <li class="cbp-item">
                <a href="#" class="cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                        <div class="cibox"><i class="fa fa-leaf"></i> <h5>Diffrent Headers</h5></div>
                    </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignLeft">
                            <div class="cbp-l-caption-body">
                                <div class="cibox act">
                                <i class="fa fa-leaf"></i>
                                <h5>Diffrent Headers</h5>
                                Will cover many websites in have over the years.
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </li>

            <li class="cbp-item">
                <a href="#" class="cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                        <div class="cibox"><i class="fa fa-check-square"></i> <h5>Diffrent Footers</h5></div>
                    </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignLeft">
                            <div class="cbp-l-caption-body">
                                <div class="cibox act">
                                <i class="fa fa-check-square"></i>
                                <h5>Diffrent Footers</h5>
                                Will cover many websites in have over the years.
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </li>

		</ul>
	</div>

</div>
</div><!-- end features section 9 -->

<div class="clearfix"></div>
