<%= render "slider" %>

<%= render "search_hotel_form" %>

<div class="clearfix"></div>

<div class="fresh_works1">
<div class="container_full">

	<h1>
    Fresh <strong>Works</strong>
    <b>Web sites still in their versions have evolved over the years</b>
    </h1>
	<br />

    <div id="grid-container" class="cbp-l-grid-fullScreen animate" data-anim-type="fadeInUp">
            <ul>
                <li class="cbp-item identity logo">
                    <a href="http://placehold.it/800x600" class="cbp-caption cbp-lightbox" data-title="Dashboard Plus<br>by GSRthemes9">
                        <div class="cbp-caption-defaultWrap">
                            <img src="http://placehold.it/800x600" alt="" />
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignLeft">
                                <div class="cbp-l-caption-body">
                                    <div class="cbp-l-caption-title">Dashboard Plus</div>
                                    <div class="cbp-l-caption-desc">by GSRthemes9</div>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="cbp-item web-design">
                    <a href="http://placehold.it/800x600" class="cbp-caption cbp-lightbox" data-title="Client chat app VIP<br>by GSRthemes9">
                        <div class="cbp-caption-defaultWrap">
                            <img src="http://placehold.it/800x600" alt="" />
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignLeft">
                                <div class="cbp-l-caption-body">
                                    <div class="cbp-l-caption-title">Client chat app VIP</div>
                                    <div class="cbp-l-caption-desc">by GSRthemes9</div>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="cbp-item motion identity">
                    <a href="http://placehold.it/800x600" class="cbp-caption cbp-lightbox" data-title="World Clock Widget<br>by GSRthemes9">
                        <div class="cbp-caption-defaultWrap">
                            <img src="http://placehold.it/800x600" alt="" />
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignLeft">
                                <div class="cbp-l-caption-body">
                                    <div class="cbp-l-caption-title">World Clock Widget</div>
                                    <div class="cbp-l-caption-desc">by GSRthemes9</div>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="cbp-item identity graphic">
                    <a href="http://vimeo.com/14912890" class="cbp-caption cbp-lightbox" data-title="Vimeo Video Lightbox<br>by GSRthemes9">
                        <div class="cbp-caption-defaultWrap">
                            <img src="http://placehold.it/800x600" alt="" />
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignLeft">
                                <div class="cbp-l-caption-body">
                                    <div class="cbp-l-caption-title">Vimeo Video Lightbox</div>
                                    <div class="cbp-l-caption-desc">by GSRthemes9</div>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="cbp-item motion logo">
                    <a href="http://placehold.it/800x600" class="cbp-caption cbp-lightbox" data-title="Skateshop Website<br>by GSRthemes9">
                        <div class="cbp-caption-defaultWrap">
                            <img src="http://placehold.it/800x600" alt="" />
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignLeft">
                                <div class="cbp-l-caption-body">
                                    <div class="cbp-l-caption-title">Skateshop Website</div>
                                    <div class="cbp-l-caption-desc">by GSRthemes9</div>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="cbp-item web-design">
                    <a href="http://www.youtube.com/watch?v=Rgox84KE7iY" class="cbp-caption cbp-lightbox" data-title="Youtube Video Lightbox<br>by GSRthemes9">
                        <div class="cbp-caption-defaultWrap">
                            <img src="http://placehold.it/800x600" alt="" />
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignLeft">
                                <div class="cbp-l-caption-body">
                                    <div class="cbp-l-caption-title">Youtube Video Lightbox</div>
                                    <div class="cbp-l-caption-desc">by GSRthemes9</div>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="cbp-item identity motion">
                    <a href="http://placehold.it/800x600" class="cbp-caption cbp-lightbox" data-title="To-Do Dashboard<br>by by GSRthemes9">
                        <div class="cbp-caption-defaultWrap">
                            <img src="http://placehold.it/800x600" alt="" />
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignLeft">
                                <div class="cbp-l-caption-body">
                                    <div class="cbp-l-caption-title">To-Do Dashboard</div>
                                    <div class="cbp-l-caption-desc">by GSRthemes9</div>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="cbp-item web-design graphic">
                    <a href="http://placehold.it/800x600" class="cbp-caption cbp-lightbox" data-title="Events and  More<br>by GSRthemes9">
                        <div class="cbp-caption-defaultWrap">
                            <img src="http://placehold.it/800x600" alt="" />
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignLeft">
                                <div class="cbp-l-caption-body">
                                    <div class="cbp-l-caption-title">Events and More</div>
                                    <div class="cbp-l-caption-desc">by GSRthemes9</div>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
			</ul>
        </div>
      	<div class="cbp-l-loadMore-text">
        <div data-href="#" class="cbp-l-loadMore-text-link"></div>
      	</div>

</div>
</div><!-- end fresh works1 -->

<div class="clearfix"></div>

<div class="parallax_sec1">
<div class="container">

	<h2 class="white">
    What <strong>We Do?</strong>
    <b>Necessary making this the first true generator on the internet</b>
    </h2>

	<div class="margin_top3"></div>

	<ul class="left">

        <li class="animate" data-anim-type="fadeInLeft">
        <i class="fa fa-tablet"></i>
        <h5>Responsive Design</h5>
        <p>Lorem Ipsum their default model text and search for will uncove websites many still in their infancy.</p>
        </li>

        <li class="animate" data-anim-type="fadeInLeft">
        <i class="fa fa-leaf"></i>
        <h5>Fast and Light Weight</h5>
        <p>Lorem Ipsum their default model text and search for will uncove websites many still in their infancy.</p>
        </li>

        <li class="last animate" data-anim-type="fadeInLeft">
        <i class="fa fa-code"></i>
        <h5>Clean and Quality Code</h5>
        <p>Lorem Ipsum their default model text and search for will uncove websites many still in their infancy.</p>
        </li>

    </ul>

    <ul class="right">

        <li class="animate" data-anim-type="fadeInRight">
        <i class="fa fa-umbrella"></i>
        <h5>User Research</h5>
        <p>Lorem Ipsum their default model text and search for will uncove websites many still in their infancy.</p>
        </li>

        <li class="animate" data-anim-type="fadeInRight">
        <i class="fa fa-file-text-o"></i>
        <h5>Wireframes and Design</h5>
        <p>Lorem Ipsum their default model text and search for will uncove websites many still in their infancy.</p>
        </li>

        <li class="last animate" data-anim-type="fadeInRight">
        <i class="fa fa-edit"></i>
        <h5>Development and Testing</h5>
        <p>Lorem Ipsum their default model text and search for will uncove websites many still in their infancy.</p>
        </li>

    </ul>

</div>
</div><!-- end parallax sec 1 -->

<div class="clearfix"></div>

<div class="feature_section2">
<div class="container">

	<div class="rw-wrapper">
        <div class="rw-sentence">
            Join The hoxa and Give your Website
            <div class="rw-words rw-words-1">
                <span>New Look!</span>
                <span>Features</span>
                <span>Colors</span>
                <span>Layouts</span>
            </div> Brand
        </div>

    </div>

    <a href="#" class="animate" data-anim-type="fadeInRight">Purchase Now!</a>

</div>
</div><!-- end features section2 -->

<div class="clearfix"></div>


<div class="feature_section3">
<div class="container animate" data-anim-type="fadeInUp">


    	<ul class="tabs">
            <li class="animate" data-anim-type="zoomIn"><a href="#demo-tab-1" target="_self"><i class="fa fa-desktop"></i> Web Design</a></li>
            <li class="animate" data-anim-type="zoomIn"><a href="#demo-tab-2" target="_self"><i class="fa fa-code"></i> Development</a></li>
            <li class="animate" data-anim-type="zoomIn"><a href="#demo-tab-3" target="_self"><i class="fa fa-leaf"></i> Marketing</a></li>
		</ul>

        <div class="tabs-content">

        <div id="demo-tab-1" class="tabs-panel bgimg1">

            <h4 class="caps">our work process</h4>

            <h5 class="grayc">Many web sites still in their infancy versions <br /> have evolved over the years.</h5>

            <ul class="list_1">
                <li><i class="fa fa-arrow-circle-o-right"></i> There are many variations of passages lorem Ipsum</li>
                <li><i class="fa fa-arrow-circle-o-right"></i> Available but the majority have suffered alteration some</li>
                <li><i class="fa fa-arrow-circle-o-right"></i> Form by injected humou or randomised words which don</li>
                <li><i class="fa fa-arrow-circle-o-right"></i> Look even slight believable Ipsum generate on the these</li>
                <li><i class="fa fa-arrow-circle-o-right"></i> Tend to repeat chunks as this the first true the Internet</li>
                <li><i class="fa fa-arrow-circle-o-right"></i> When an unknown printer took a galley of and type</li>
            </ul>

		</div><!-- end tab 1 -->

        <div id="demo-tab-2" class="tabs-panel bgimg2">

            <h4 class="caps">with Creative Ideas</h4>

			<h5 class="grayc">Many web sites still in their infancy versions have evolved over the years.</h5>

            	<ul class="list_1">
                    <li><i class="fa fa-arrow-circle-o-right"></i> There are many variations of passages lorem Ipsum</li>
                    <li><i class="fa fa-arrow-circle-o-right"></i> Available but the majority have suffered alteration some</li>
                    <li><i class="fa fa-arrow-circle-o-right"></i> Form by injected humou or randomised words which don</li>
                    <li><i class="fa fa-arrow-circle-o-right"></i> Look even slight believable Ipsum generate on the these</li>
                    <li><i class="fa fa-arrow-circle-o-right"></i> Tend to repeat chunks as this the first true the Internet</li>
                    <li><i class="fa fa-arrow-circle-o-right"></i> When an unknown printer took a galley of and type</li>
                </ul>

        </div><!-- end tab 2 -->

        <div id="demo-tab-3" class="tabs-panel bgimg3">

			<h4 class="caps">success your business</h4>

			<h5 class="grayc">Many web sites still in their infancy versions have evolved over the years.</h5>

            	<ul class="list_1">
                    <li><i class="fa fa-arrow-circle-o-right"></i> There are many variations of passages lorem Ipsum</li>
                    <li><i class="fa fa-arrow-circle-o-right"></i> Available but the majority have suffered alteration some</li>
                    <li><i class="fa fa-arrow-circle-o-right"></i> Form by injected humou or randomised words which don</li>
                    <li><i class="fa fa-arrow-circle-o-right"></i> Look even slight believable Ipsum generate on the these</li>
                    <li><i class="fa fa-arrow-circle-o-right"></i> Tend to repeat chunks as this the first true the Internet</li>
                    <li><i class="fa fa-arrow-circle-o-right"></i> When an unknown printer took a galley of and type</li>
                </ul>

        </div><!-- end tab 3 -->

	</div>

</div>
</div><!-- end features section3 -->

<div class="clearfix"></div>

<div class="feature_section4">
<div class="container">

	<h2>
    Why <strong>Choose Us?</strong>
    <b>Here’s the best part of our impressive services</b>
    </h2>

	<div class="margin_top3"></div>

    <div class="one_fourth animate" data-anim-type="fadeInLeft">
	<div class="cornered"></div>

        <div class="ccont">

        <i class="fa fa-umbrella"></i>

        <h5 class="caps">Neat and Clean</h5>

        <p>Many desktop publish packages web page editors now use Ipsum as their default model text.</p>

        </div>

    <div class="cornered2"></div>
	</div>

    <div class="one_fourth animate" data-anim-type="fadeInDown">
	<div class="cornered"></div>

        <div class="ccont">

        <i class="fa fa-tags"></i>

        <h5 class="caps">Tons of Features</h5>

        <p>Many desktop publish packages web page editors now use Ipsum as their default model text.</p>

        </div>

    <div class="cornered2"></div>
	</div>

    <div class="one_fourth active animate" data-anim-type="fadeInUp">
	<div class="cornered"></div>

        <div class="ccont">

        <i class="fa fa-trophy"></i>

        <h5 class="caps">Easy to use</h5>

        <p>Many desktop publish packages web page editors now use Ipsum as their default model text.</p>

        </div>

    <div class="cornered2"></div>
	</div>

    <div class="one_fourth last animate" data-anim-type="fadeInRight">
	<div class="cornered"></div>

        <div class="ccont">

        <i class="fa fa-heart"></i>

        <h5 class="caps">Very flexible</h5>

        <p>Many desktop publish packages web page editors now use Ipsum as their default model text.</p>

        </div>

    <div class="cornered2"></div>
	</div>

</div>
</div><!-- end features section4 -->

<div class="clearfix"></div>

<div class="feature_section7">
<div class="container">

	<div class="one_half">

    	<i class="fa fa-leaf animate" data-anim-type="zoomIn"></i>

        <div class="rcont animate" data-anim-type="fadeInUp">
        <h4 class="white">Fast and Light Weight</h4>
        <p>There are many variations of passages of Ipsum available but the majority
have suffered alteration in some form by injected words.</p>
		</div>

        <div class="clearfix margin_top5"></div>

        <i class="fa fa-tags animate" data-anim-type="zoomIn"></i>

        <div class="rcont animate" data-anim-type="fadeInUp">
        <h4 class="white">Awesome Slidershows</h4>
        <p>There are many variations of passages of Ipsum available but the majority
have suffered alteration in some form by injected words.</p>
		</div>

    </div>

    <div class="one_half last">

    	<i class="fa fa-tablet animate" data-anim-type="zoomIn"></i>

        <div class="rcont animate" data-anim-type="fadeInUp">
        <h4 class="white">Responsive Designied</h4>
        <p>There are many variations of passages of Ipsum available but the majority
have suffered alteration in some form by injected words.</p>
		</div>

        <div class="clearfix margin_top5"></div>

        <i class="fa fa-code animate" data-anim-type="zoomIn"></i>

        <div class="rcont animate" data-anim-type="fadeInUp">
        <h4 class="white">Well Structured Code</h4>
        <p>There are many variations of passages of Ipsum available but the majority
have suffered alteration in some form by injected words.</p>
		</div>

    </div>

</div>
</div><!-- end features section 7 -->

<div class="clearfix"></div>

<div class="feature_section8">
<div class="container">

    <div class="left animate" data-anim-type="fadeInLeft"><img src="<%= asset_path 'users/site-img8.png' %>" alt="" class="img_left" /></div>

    <div class="right animate" data-anim-type="fadeInRight">

		<h2><i><strong>Clean, Professional</strong></i> and Modern Design</h2>

        With a handful many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites of model sentence structures, to generate Lorem Ipsum which looks reasonable the generated Lorem Ipsum is therefore always. Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose.
        <br /><br /><br />

        <a href="#" class="readmore_but2">Read More Info</a> &nbsp;&nbsp;&nbsp; <a href="#" class="readmore_but3">Purchse Now!</a>

    </div>


</div>
</div><!-- end features section 8 -->

<div class="clearfix"></div>

<div class="feature_section35">
<div class="container">

	<div class="left animate" data-anim-type="fadeInUp"><img src="<%= asset_path 'users/site-img35.png' %>" alt="" /></div>

    <div class="right">

        <br />

        <h2>Core <strong>Features</strong></h2>
		<h4>Easy-to-customize and fully featured design</h4>

        <p>All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary
making this the first true generator on the Internet.</p>
        <br />
        <div class="one_half">
            <ul class="list_1">
                <li><i class="fa fa-chevron-circle-right"></i> Diffrent Website Layouts</li>
                <li><i class="fa fa-chevron-circle-right"></i> Exclusive Slideshows</li>
                <li><i class="fa fa-chevron-circle-right"></i> Multiple Header Options</li>
                <li><i class="fa fa-chevron-circle-right"></i> Fullwidth &amp; Boxed Layouts</li>
                <li><i class="fa fa-chevron-circle-right"></i> Clean Code &amp; Easy to Use</li>
            </ul>
        </div>

        <div class="one_half last">
            <ul class="list_1">
                <li><i class="fa fa-chevron-circle-right"></i> Mega Menu</li>
                <li><i class="fa fa-chevron-circle-right"></i> Layered PSD Files</li>
                <li><i class="fa fa-chevron-circle-right"></i> Well Structured Pages</li>
                <li><i class="fa fa-chevron-circle-right"></i> Mobile Friendly Theme</li>
                <li><i class="fa fa-chevron-circle-right"></i> Cross Browsere Check</li>
            </ul>
        </div>
        <div class="clearfix"></div>
    	<br /><br />
    	<a href="#" class="readmore_but1">View All Features</a>

    </div>




</div>
</div>


<div class="clearfix"></div>


<div class="divider_line1"></div>

<div class="feature_section9">
<div class="container animate" data-anim-type="fadeInUp">

	<h1>Build an <strong>Amazing Website</strong> with Hoxa</h1>

    <br />

	<div id="grid-container2" class="cbp-l-grid-fullScreen two">

        <ul>

            <li class="cbp-item">
                <a href="#" class="cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                        <div class="cibox"><i class="fa fa-desktop"></i> <h5>Corporate Style</h5></div>
                    </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignLeft">
                            <div class="cbp-l-caption-body">
                                <div class="cibox act">
                                <i class="fa fa-desktop"></i>
                                <h5>Corporate Style</h5>
                                Will cover many websites in have over the years.
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </li>

            <li class="cbp-item">
                <a href="#" class="cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                        <div class="cibox"><i class="fa fa-coffee"></i> <h5>Creative Style</h5></div>
                    </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignLeft">
                            <div class="cbp-l-caption-body">
                                <div class="cibox act">
                                <i class="fa fa-coffee"></i>
                                <h5>Creative Style</h5>
                                Will cover many websites in have over the years.
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </li>

            <li class="cbp-item">
                <a href="#" class="cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                        <div class="cibox"><i class="fa fa-umbrella"></i> <h5>One Page Theme</h5></div>
                    </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignLeft">
                            <div class="cbp-l-caption-body">
                                <div class="cibox act">
                                <i class="fa fa-umbrella"></i>
                                <h5>One Page Theme</h5>
                                Will cover many websites in have over the years.
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </li>

            <li class="cbp-item">
                <a href="#" class="cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                        <div class="cibox"><i class="fa fa-rocket"></i> <h5>Landing Page</h5></div>
                    </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignLeft">
                            <div class="cbp-l-caption-body">
                                <div class="cibox act">
                                <i class="fa fa-rocket"></i>
                                <h5>Landing Page</h5>
                                Will cover many websites in have over the years.
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </li>

            <li class="cbp-item">
                <a href="#" class="cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                        <div class="cibox"><i class="fa fa-magic"></i> <h5>Parallax Effects</h5></div>
                    </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignLeft">
                            <div class="cbp-l-caption-body">
                                <div class="cibox act">
                                <i class="fa fa-magic"></i>
                                <h5>Parallax Effects</h5>
                                Will cover many websites in have over the years.
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </li>

            <li class="cbp-item">
                <a href="#" class="cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                        <div class="cibox"><i class="fa fa-cog"></i> <h5>Diffrent Websites</h5></div>
                    </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignLeft">
                            <div class="cbp-l-caption-body">
                                <div class="cibox act">
                                <i class="fa fa-cog"></i>
                                <h5>Diffrent Websites</h5>
                                Will cover many websites in have over the years.
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </li>

            <li class="cbp-item">
                <a href="#" class="cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                        <div class="cibox"><i class="fa fa-heart"></i> <h5>Mega Menu</h5></div>
                    </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignLeft">
                            <div class="cbp-l-caption-body">
                                <div class="cibox act">
                                <i class="fa fa-heart"></i>
                                <h5>Mega Menu</h5>
                                Will cover many websites in have over the years.
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </li>

            <li class="cbp-item">
                <a href="#" class="cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                        <div class="cibox"><i class="fa fa-star"></i> <h5>100+ Feature Sections</h5></div>
                    </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignLeft">
                            <div class="cbp-l-caption-body">
                                <div class="cibox act">
                                <i class="fa fa-star"></i>
                                <h5>100+ Feature Sections</h5>
                                Will cover many websites in have over the years.
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </li>

            <li class="cbp-item">
                <a href="#" class="cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                        <div class="cibox"><i class="fa fa-leaf"></i> <h5>Diffrent Headers</h5></div>
                    </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignLeft">
                            <div class="cbp-l-caption-body">
                                <div class="cibox act">
                                <i class="fa fa-leaf"></i>
                                <h5>Diffrent Headers</h5>
                                Will cover many websites in have over the years.
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </li>

            <li class="cbp-item">
                <a href="#" class="cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                        <div class="cibox"><i class="fa fa-check-square"></i> <h5>Diffrent Footers</h5></div>
                    </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignLeft">
                            <div class="cbp-l-caption-body">
                                <div class="cibox act">
                                <i class="fa fa-check-square"></i>
                                <h5>Diffrent Footers</h5>
                                Will cover many websites in have over the years.
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </li>

		</ul>
	</div>

</div>
</div><!-- end features section 9 -->

<div class="clearfix"></div>
