<div class="statsRow">
  <div class="wrapper">
	<div class="controlB">
  	<ul>
  	  <li><a href="<%= city_path %>" title=""><img src="<%= asset_path 'icons/control/32/plus.png' %>" alt=""><span>Créer une ville</span></a></li>
      <li><a href="<%= cities_path %>" title=""><img src="<%= asset_path 'icons/control/32/order-149.png' %>" alt=""><span>Liste des villes</span></a></li>
      </ul>
      <div class="clear"></div>
    </div>
  </div>
</div>
