<div class="statsRow">
  <div class="wrapper">
	<div class="controlB">
  	<ul>
  	  <li><a href="<%= hotel_room_type_path(@hotel.id) %>" title=""><img src="<%= asset_path 'icons/control/32/plus.png' %>" alt=""><span>Créer un type de chambre</span></a></li>
      <li><a href="<%= hotel_room_types_path(@hotel.id) %>" title=""><img src="<%= asset_path 'icons/control/32/order-149.png' %>" alt=""><span>Liste des types de chambres</span></a></li>
      </ul>
      <div class="clear"></div>
    </div>
  </div>
</div>
