<div class="statsRow">
  <div class="wrapper">
	<div class="controlB">
  	<ul>
  	  <li><a href="<%= hotel_specification_path(@hotel.id) %>" title=""><img src="<%= asset_path 'icons/control/32/plus.png' %>" alt=""><span>Créer une spécification</span></a></li>
      <li><a href="<%= hotel_specifications_path(@hotel.id) %>" title=""><img src="<%= asset_path 'icons/control/32/order-149.png' %>" alt=""><span>Liste des spécifications</span></a></li>
      </ul>
      <div class="clear"></div>
    </div>
  </div>
</div>
