<ul class="nav navbar-nav">

  <li><a href="<%= root_path %>" class="active"><i class="fa fa-home"></i> Accueil</a></li>

  <li class="dropdown"> <a href="<%= contacts_path %>" ><i class="fa fa-phone"></i> Contact</a></li>

</ul>
